<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="CafeteriaDB" connectionString="metadata=res://*/EF.CafeteriaEFModel.csdl|res://*/EF.CafeteriaEFModel.ssdl|res://*/EF.CafeteriaEFModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=media.ruppin.ac.il;initial catalog=bgroup18_test2;persist security info=True;user id=bgroup18;password=bgroup18_39879;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
        <add name="GuardenDB" connectionString="metadata=res://*/EF.GuardenModel.csdl|res://*/EF.GuardenModel.ssdl|res://*/EF.GuardenModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=media.ruppin.ac.il;initial catalog=bgroup18_prod; persist security info=True;user id=bgroup18;password=bgroup18_39879;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="GuardenDB" connectionString="metadata=res://*/EF.GuardenModel.csdl|res://*/EF.GuardenModel.ssdl|res://*/EF.GuardenModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=GuardenDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>